/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* 
.table-row-cell {
 -fx-font-weight: bold;
   -fx-background-color:lightblue ;
}
.table-row-cell:odd {
 -fx-font-weight: bold;
   -fx-background-color:lightgrey ;
}

*/
GridPane
{
   -fx-background-color:lavender ;
}